/* https://rsms.me/inter/download/ */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
@import 'tailwindcss';
@theme {
  --breakpoint-xxs: 340px;
  --breakpoint-xs: 480px;
}
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  logs: false;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  /* match futuremedia-concepts.com */
  --color-base-100: #262131;
  --color-primary: rgb(34, 99, 231); /* blue */
  --color-secondary: #BE3479; /* pinkish */
  --color-accent: #F19200; /* orangy */
}

.prose ul > li::marker {
  color: #008CFF;
}

.prose ul > li {
  margin:0;
}

.prose ul > li > p {
  margin:0;
}

.breadcrumbs {
  & > menu, & > ul, & > ol {
    & > li {
      & + ::before {
        opacity: 1;
      }
    }
  }
}

h1 {
  position: relative;
  margin-top: 40px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;
}

h1::before {
  content: '';
  position: absolute;
  top: -40px; /* 2/3 of -80px */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for the width of the element */
  width: 119px; /* 1/2 of 238px */
  height: 40px; /* 1/2 of 80px */
  background-image: url('/images/arrows_04.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.clip-banner {
  clip-path: polygon(1% 0%, 99% 0%, 98% 100%, 0% 100%);
}